
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}
.content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.title {
  font-size: 84px;
  text-align: center;
}
.m-b-md {
  margin-bottom: 30px;
}
